:root {
  --color-primary: #2a0297;
  --color-secondary: #81168b;
  --color-danger: #e71d36;
  --color-warning: #ff9f1c;
  --color-info: #2ec4b6;
  --color-background: #2644cc;
  --color-white: #fdfffc;
  --color-black: #171817;
  --color-overlay: rgba(224, 0, 224, 0.8);
}

@tailwind base;

@tailwind components;

@tailwind utilities;

body {
  background-color: var(--color-background);
  color: var(--color-black);
}
